<div class="user-container">
    <div class="basic-profile-container">
        <div class="basic-info-container">
            <span class="basic-title">
                {{userId ? "Edit" : "Add"}} user
            </span>
        </div> 
            <form class="profile-form-container" [formGroup]="form">
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="firstName">
                </mat-form-field>
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lastName">
                </mat-form-field>
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>Nickname</mat-label>
                    <input type="text" matInput formControlName="nickname">
                </mat-form-field>
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email">
                    <mat-error *ngIf="form.hasError('email') && !form.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput formControlName="phone" mask="(000)-000-00-00">
                </mat-form-field>
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>User ID</mat-label>
                    <input type="text" matInput formControlName="userId">
                </mat-form-field>
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>Country</mat-label>
                    <input type="text" matInput formControlName="country">
                </mat-form-field>
                <mat-form-field appearance="outline" class="profile-input">
                    <mat-label>City</mat-label>
                    <input type="text" matInput formControlName="city">
                </mat-form-field>
            </form>
        <mat-divider></mat-divider>
        <button class="add-btn" [disabled]="!form.valid" [ngClass]="form.valid ? 'add-btn' : 'add-disable-btn'" (click)="submitForm()">
            {{userId ? "UPDATE" : "ADD"}}
        </button>
    </div>
</div>

