<div class="dashboard-container">
    <div class="card-container">
        <div class="card">
            <div class="card-text">
                <p class="card-title">Budget</p>
                <p class="card-value">{{dashboardData.budget | currency: 'CAD':'symbol-narrow':'4.0'}}</p>
                <p class="card-stat"><img src="../../../../../assets/arrow_down.svg"> <span class="stat-number-down">12%</span>  Since last month</p>
            </div>
            <div class="card-icon">
                <div class="card-icon-container-red">
                    <mat-icon class="card-mat-icon"> business</mat-icon>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-text">
                <p class="card-title">Total Users</p>
                <p class="card-value">{{dashboardData.totalUsers}}</p>
                <p class="card-stat"><img src="../../../../../assets/arrow_up.svg"> <span class="stat-number-up">16%</span>  Since last month</p>
            </div>
            <div class="card-icon">
                <div class="card-icon-container-green">
                    <img src="../../../../../assets/outline-contact_support-24px.svg" style="transform: scale(1.4)" alt="">
                </div>
            </div>
        </div>
        <div class="card-progress-bar">
            <section class="card-section">
                <div class="card-text">
                    <p class="card-title">Progress</p>
                    <p class="card-value">{{dashboardData.progress}}%</p>
                </div>
                <div class="card-icon">
                    <div class="card-icon-container-blue">
                        <img src="../../../../../assets/zip.svg" alt="">
                    </div>
                </div>
            </section> 
            <section class="progress-section">
                <div class="progress-bar">
                    <div class="progress-fill"></div>
                </div>
            </section>
        </div>
        <div class="card-blue">
            <div class="card-text">
                <p class="card-title-blue">Total profit</p>
                <p class="card-value-blue">{{dashboardData.totalProfit | currency:'CAD':'symbol-narrow':'4.2-2'}}</p>
                <p class="card-stat-blue"><img src="../../../../../assets/white-arrow-up.svg" class="stat-white"> <span class="stat-number-down-blue">16%</span>  Since last month</p>
            </div>
            <div class="card-icon">
                <div class="card-icon-container-transparent">
                    <mat-icon class="money-icon">money</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="graph-container">
        <div class="graph-header">
            <span class="graph-header-text">Users by device</span>
            <span class="graph-header-text">Last 7 days <img src="../../../../../assets/ic_arrow_right_24px.svg" alt=""></span>
        </div>
        <div id="graph"></div>
        <div class="graph-footer">
            <span class="graph-footer-text">Audience Overview <img src="../../../../../assets/blue-arrow-right.svg" alt=""></span>
        </div>
    </div>
</div>
